<!--
* 组件名 推荐广告位 （订阅）-组件
* 开发者 : JY
* 参数:  null
* 事件:
* xxx [] - 
-->
<!-- gh header -->
<%- include('../templates/layout/get_header') %>

<h1 class="container t-section-title">推荐广告位 （订阅） 组件</h1>


<div class="container"></div>

<!-- gh footer -->
<%- include('../templates/layout/get_footer') %>