<!--
* 组件名 列表项-组件
* 开发者 : JY
* 参数:  null
* 事件:
* xxx [] - 
-->
<!-- gh header -->
<%- include('../templates/layout/get_header') %>

<h1 class="container t-section-title">列表项 组件</h1>
<h3 class="container t-types-title">类型 1</h3>

<div class="container">
  <p class="t-desc">说明： 注意需要判断是哪种数据，添加对应的 class 类。</p>
  <div class="row">
    <div class="col-12 col-xl-8">
      <div class="list list-card article-card">
        <div class="card-img">
          <a href="https://www.rainbowtoken.com/the-son-of-man-has-appeared.html" class="">
            <picture>
              <source type="image/jpeg"
                data-srcset="https://www.rainbowtoken.com/wp-content/uploads/2020/04/The-Days-of-Noah-Have-Come.jpg">
              <img class="lazy" alt="The Days of Noah Have Come,"
                data-src="https://www.rainbowtoken.com/wp-content/uploads/2020/04/The-Days-of-Noah-Have-Come.jpg">
            </picture>
          </a>
        </div>
        <div class="card-title">
          <p><a href="https://www.rainbowtoken.com/the-son-of-man-has-appeared.html"
              title="The Days of Noah Have Come: The Son of Man Has Appeared">The Days of Noah Have Come: The Son of
              Man
              Has Appeared</a>
          </p>
          <span class="desc">
            What Should We Infer From the Seeming Reappearance of the Time of Noah?
            The whole of mankind now lives under the domain of Satan and is becoming more deeply corrupted with each
            passing day. Positiv</span>
        </div>
      </div>
      <div class="list list-card article-card has-attrs">
        <div class="card-img">
          <a href="https://www.rainbowtoken.com/the-Lord-has-returned.html" class="">
            <picture>
              <source type="image/jpeg"
                data-srcset="https://www.rainbowtoken.com/wp-content/uploads/2020/04/The-Lord-Has-Returned.jpg">
              <img class="lazy" alt="Signs of Christ’s Return,"
                data-src="https://www.rainbowtoken.com/wp-content/uploads/2020/04/The-Lord-Has-Returned.jpg">
            </picture>
          </a>
        </div>
        <div class="card-title">
          <p><a href="https://www.rainbowtoken.com/the-Lord-has-returned.html"
              title="Signs of Christ’s Return Have Appeared: The Lord Has Returned">Signs of Christ’s Return Have
              Appeared: The Lord Has Returned</a>
          </p>
          <span class="desc">Disasters such as earthquakes, famines and plagues have become more and more frequent in
            recent years. The prophecies in the Bible concerning the coming of the Lord have basically now been
            fulfilled,
          </span>
          <span class="sort d-none d-md-block"><a href="#" class="attrs">Daily Bread for Life</a></span>
        </div>
      </div>
      <div class="list list-card">
        <div class="card-img">
          <a href="https://www.rainbowtoken.com/knowing-God-excerpt-069.html" class="video">
            <picture>
              <source type="image/jpeg"
                data-srcset="https://www.rainbowtoken.com/wp-content/uploads/2020/10/knowing-God-excerpt-069.jpg">
              <img class="lazy" alt=""
                data-src="https://www.rainbowtoken.com/wp-content/uploads/2020/10/knowing-God-excerpt-069.jpg">
            </picture>
            <span class="attach-duration s-video"><i class="icon-play-arrow"></i><time>8:21</time></span>
          </a>
        </div>
        <div class="card-title">
          <p><a href="https://www.rainbowtoken.com/knowing-God-excerpt-069.html"
              title="God's Word for Today | &quot;God's Work, God's Disposition, and God Himself III&quot; | Excerpt 69">God's
              Word for Today | "God's Work, God's Disposition, and God Himself III" | Excerpt 69 God's
              Word for Today | "God's Work, God's Disposition, and God Himself III" | Excerpt 69 | Excerpt 69</a>
          </p>
          <span class="desc">
            Within the scope of the work that the Lord Jesus completed in the Age of Grace, you can see another aspect
            of
            what God has and is. It was expressed through His flesh, and it was made possible for </span>
        </div>
      </div>
      <div class="list list-card audio-card">
        <div class="card-img">
          <a href="https://www.rainbowtoken.com/entry-into-life-excerpt-418.html" class="video">
            <picture>
              <source type="image/jpeg"
                data-srcset="https://www.rainbowtoken.com/wp-content/uploads/2020/10/Word-for-Today.jpg">
              <img class="lazy" alt=""
                data-src="https://www.rainbowtoken.com/wp-content/uploads/2020/10/Word-for-Today.jpg">
            </picture>
            <span class="attach-duration s-audio"><i class="icon-headset"></i><time>13:54</time></span>
          </a>
        </div>
        <div class="card-title">
          <p><a href="https://www.rainbowtoken.com/entry-into-life-excerpt-418.html"
              title="God’s Word for Today | &quot;Concerning the Practice of Prayer&quot; | Excerpt 418">God’s Word
              for
              Today | "Concerning the Practice of Prayer" | Excerpt 418</a>
          </p>
          <span class="desc">
            Basic knowledge about praying:1. Do not blindly say whatever comes to mind. There must be a burden within
            your
            heart, which is to say, you
            must have an objective when you pray.2. Your pray</span>
        </div>
      </div>
    </div>
  </div>
</div>

<h3 class="container t-types-title">类型 2</h3>
<div class="container">
  <div class="row">
    <div class="col-12 col-xl-8">
      <div class="row">
        <div class="col-12 col-md-6 bible-item">
          <div class="bible-card d-flex">
            <div class="content">
              <h4 class="bible-title"><a
                  href="https://www.rainbowtoken.com/hebrews-12-14-without-which-no-man-shall-see-the-Lord.html">Hebrews
                  12:14 - Believers in God Should Pursue Holiness</a></h4>
              <p class="bible-text">For you, you who are still of your old self, it is true that you were saved by
                Jesus, and that you are not counted as a sinner because of the salvation of God, but this does not
                prove
                that you are not</p>
            </div>
            <a class="line-see-more"
              href="https://www.rainbowtoken.com/hebrews-12-14-without-which-no-man-shall-see-the-Lord.html">See
              More<i class="icon-navigate-next"></i></a>
          </div>
        </div>
        <div class="col-12 col-md-6 bible-item">
          <div class="bible-card d-flex">
            <div class="content">
              <h4 class="bible-title"><a
                  href="https://www.rainbowtoken.com/praying-from-the-heart-psalm-145-18.html">Psalm 145:18 - Praying
                  From the Heart</a></h4>
              <p class="bible-text">
                The LORD is near to all them that call on him, to all that call on him in truth.
                - Psalm 145:18
                Thoughts on Today’s Verse…
                This verse mentions that God is closer to us if we call on H</p>
            </div>
            <a class="line-see-more" href="https://www.rainbowtoken.com/praying-from-the-heart-psalm-145-18.html">See
              More<i class="icon-navigate-next"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h3 class="container t-types-title">列表页 panel 结构</h3>

<section class="container list-content">
  <div class="row">
    <div class="col-12 col-xl-8 main-part">
      <% include ./templates/list-inter.ejs %>
    </div>
    <div class="col-12 col-xl-4 sidebar-part">
      <aside class="aside-commercial-wrap">
        <div class="popular-commercial-picture">
          <a href="https://m.me/GrowinChristCovenantwiththeLord?ref=websit" class="recom-item messenger-payload"
            data-pc-img="https://www.findshepherd.com/wp-content/uploads/2020/07/today-sermon-topic-pc.jpg"></a>
        </div>
      </aside>
      <aside class="panel-aside">侧边栏</aside>
    </div>
  </div>
</section>

<!-- gh footer -->
<%- include('../templates/layout/get_footer') %>